body {
	width: 1640px;
	font-family: NotoSansCJKkr-Thin;
	margin: 0 auto ;
}
button{
	outline: none;
	border: none;
}

#logo{
	width:300px;
	margin-bottom: 10px;
	margin-top: 30px;
}
/*app_name in top */
	#top{
		margin-bottom: 20px;
	}
	#app{
		margin: 0px 0px 0px 34%;
		display:flex; 
	    width:535px;
	}
	#app_info{
		margin: 13px 0px 0px 0px;
		background: url(plus.png) no-repeat;
		border: none;
		width: 26px;
		height: 26px;
		cursor: pointer;
	}
	#app_name { 
	  position:relative; 
	}
	#name {
      font-family: NotoSansCJKkr-Thin;
	  color: #aaaaaa;
	  font-size:21px;
	  padding:5px 5px 3px 5px;
	  display:block;
	  width:450px;
	  border:none;
	  border-bottom: 3px solid #d6d6d6;
	}
	#name:focus 		
	{ outline:none; }

	#name:focus ~ label, #name:valid ~ label{
	  color:#606060;
	  font-size:20px;
	  font-weight:normal;
	  left:-110px;
	}

	#label {
      font-family: NotoSansCJKkr-Thin;
	  color:#b7b7b7; 
	  font-size:20px;
	  font-weight:normal;
	  position:absolute;
	  pointer-events:none;
	  left:5px;
	  top:5px;
	  transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
	}

/*left bar */
#device_tab {
  float:left; 
  width: 335px;
  height:700px;
  margin-right: 5px;
}
.share-btn {
  font-family: NotoSansCJKkr-Thin;
  float:left; 
  width: 105px;
  height: 104px;
  margin: 2px 3px 12px 3px; 
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px 10px #ddd;
  overflow: hidden;
}
.share-btn:hover{
  background: radial-gradient(#b4e7ef,  #fff,  #fff);
  transition: opacity 0.3s ease-out;
}
.share-btn:hover p{
  color: #83d8e5;
}
.share-btn .cta {
  color: #bababa;
  margin: 30px 0 0 0;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
  transition: all 0.6s ease-in-out;
}
.share-btn .close {
  cursor: pointer;
  float:right; 
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: none;
  opacity: 0;
  transform: rotate(-45deg);
  transform-origin: center center;
  background: url(close.png) no-repeat;
  transition: all 0.2s cubic-bezier(0.3, 0, 0, 1.3);
}
.share-btn .social { 
  overflow: hidden;
  list-style-type: none;
  margin: 50px 10px 0 10px;
  transition: all 10s ease-in-out;
}
.share-btn .social button {
	float:left; 
	width: 130px;
	height: 50px;
	background-color: #fff;
	margin: 0px 5px 5px 5px; 
	text-align: center;
	cursor: pointer;
	box-shadow: 0 5px 10px #eee;
	overflow: hidden;
	font-size: 80%;
	transform: scale(0.7) translateX(10px) translateY(-10px);
	transition: all 0.25s ease-in-out;
	opacity: 0; 
	outline: none;
	border: none;
}
.share-btn .social button:hover {
	background: #B0E6EE;
}
.share-btn .social button:active {
	background: #9CE0EA;
}
.clicked {
  width: 330px;
  height:700px;  
  cursor: auto;
  background: #fff;
}
.share-btn.clicked{
	position: fixed;
	top: 140px;
	background: #fff;
	box-shadow: 0 5px 10px #cccccc;
	overflow-y:auto;
}
.share-btn.clicked .cta {
  left: 40px;
  top: 30px;
  transform: translateX(0) translateY(0);
  color: #9CE0EA;
}
.share-btn.clicked .close {
  opacity: 1;
  transform: rotate(0deg);
}
.share-btn.clicked .social button {
  transform: scale(1) translateX(0) translateY(0);
  opacity: 1;
	outline: none;
}

#setting_things_open{
   width: 24px;
   height:24px;  
	position: absolute; 
	bottom: 0; 
	right:0;  
	background: url(setting.png) no-repeat;
	box-shadow:none;
}
#device_setting{
	position: fixed;
	top: 140px;
	width: 340px;
	height:700px;  
	background: #fff;
	overflow: auto;
}

#device_setting p{
  color: #bababa;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  
}
#setting_close{
	width:24px;
	height:24px;  
	position: absolute; 
	margin: 0px 8px 0;
	right:0;  
	background: url(close.png) no-repeat;
	cursor: pointer;	
}
.setting_list{
    margin: 30px 10px 5px 10px; 
	position: absolute; 
	overflow-y:auto;

}
.setting_list button {
   float:left; 
	margin: 5px 3px 5px 3px; 
	width: 140px;
	height: 50px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 5px 10px #eee;
	overflow: hidden;
	font-size: 80%;
 }
.setting_list button:hover {
	background: #eee;
}
.setting_list button:active {
	background: #ddd;
}

.setting_list::-webkit-scrollbar {
	background-color: #f4f4f4;
}
.setting_list::-webkit-scrollbar-track {
      background-color: #f4f4f4;
} /* the new scrollbar will have a flat appearance with the set background color */
 
.setting_list::-webkit-scrollbar-thumb {
      background-color: rgba(192,192,192,0.3); 
	border-radius: 10px;
} /* this will style the thumb, ignoring the track */

.setting_list::-webkit-scrollbar-button {
      background-color: #f4f4f4;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

.setting_list::-webkit-scrollbar-corner {
      background-color: #f4f4f4;
} /*


/*main  f2fbfc  */
#box{
	position:relative;
	float:left;
}
.blocklyMainBackground { 
  fill: #f2fbfc !important; 
  stroke: #eee;
  stroke-width: 2px;
} 
.blocklyToolboxDiv {
    background-color: #F4F4F4;    
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
    color: #7a7a7a;
}
.blocklyFlyoutBackground {
    fill: #c1ebf2;
    fill-opacity: .4;
}

.blocklyTreeSelected .blocklyTreeLabel {
    color: #7a7a7a;
 }
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
   background-color: #f2fbfc;
}
.blocklyScrollbarHandle {
    fill: #DFF5F9;
    fill-opacity: .8;
}
.blocklyScrollbarBackground:hover+.blocklyScrollbarHandle,
  .blocklyScrollbarHandle:hover {
    fill: #D7F2F7;
    fill-opacity: .8;
 }

#save_but{
	visibility: hidden;
	position:absolute;
	top:10px;
	left:1100px;
	font-family: NotoSansCJKkr-Thin;
	width: 80px;
	height: 30px;
	text-align: center;
	cursor: pointer;
    color: #999;
    background-color: #fff;
	border:none;
    box-shadow: 0 3px 5px #ddd;
	outline: none;
	transition: all 0.25s ease-in-out;
}
#save_but:hover{
    background-color: #eee;

}
#smartApp_code{
	position:absolute;
width: 1180px;
}

.groovy{
	overflow: auto;
	height: 678px;
	width: 979px;
}
.groovy::-webkit-scrollbar {
	width: 10px;
	background-color: #f4f4f4;
}
.groovy::-webkit-scrollbar-track {
      background-color: #f4f4f4;
} /* the new scrollbar will have a flat appearance with the set background color */
 
.groovy::-webkit-scrollbar-thumb {
      background-color: rgba(192,192,192,0.3); 
	border-radius: 10px;
} /* this will style the thumb, ignoring the track */

.groovy::-webkit-scrollbar-button {
      background-color: #f4f4f4;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

.groovy::-webkit-scrollbar-corner {
      background-color: #f4f4f4;
} 





/*right bar */
#tab {
	position: relative; 
	float: left;
	margin-left: -1px;
    background-color: #f2fbfc;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	height: 699px;
	width: 80px;
}
#tab button {
	color: #7a7a7a;
    background-color: #f2fbfc;
    font-family: NotoSansCJKkr-Thin;
	cursor: pointer;
	font-size: 17px;
	height: 233px;
	width: 80px;
	border: none;
	outline: none;
	transition: 0.3s;

}
.tab_but{
	transform: rotate(90deg); 

}
/*mark in bottom */
#bottom{
	float:right;
	color:#999;
	font-size:13px; 
}
a{
	color:#999;
}


