body{
	margin:5px 5px 20px 5px;
	
}

.subtitle{
	margin:5px 0 0 0;
	font-size:15px;
	font-weight:bold;
	color: #ff3300;  
}

.message{
	margin:0 0 0 15px;
	font-size:15px;
	font-weight:normal;
	color: #ff3300;  
}