body{
	margin:20px 0px 20px 0px;
	font-size:16px;
}
h2{
	text-align:center;
	margin:5px 0 5px 0;
	font-size:26px;
	font-weight: 700;
}
.subtitle{
	margin: 0 0 3px 20px;
	font-size:20px;
	font-weight: 700;
}
div{

	margin:15px 0 15px 0;
}
p{
	margin: 0 0 3px 20px;

}
.error{
	color: #ff3300;  
}
.warning{

	color: #19b2e6;  

}